
.fa-instagram:hover{
    color:rgb(151, 29, 29);
    
}
.fa-instagram{
    font-size: 250px;
}
a:hover{
 color:rgb(62, 62, 235);
}
.InstNickname{
    font-size: 16px;
}
.page{
    width:90%;
    height: auto;
    overflow: auto;
}
.ten {
    width:40%; 
    float: left;

}
.exp{
    font-size: small;
}
.six{
    width:50%;
    float:left;
    padding-left: 10%;
}
.avatar-wrapper{
    width:145%;
    margin-left: -25%;
    margin-top: 10%;
}